@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

a {
  color: #076640;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
}
h1 span {
  font-weight: 300;
}

h2, span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}
h2 span, span span {
  font-weight: 100;
}

p {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/background.png");
  text-align: center;
  overflow: hidden;
}
body header {
  margin-bottom: auto;
  margin-top: 25px;
}
@media (min-width: 800px) {
  body header {
    margin-top: 0;
    position: absolute;
    top: 25px;
    left: 25px;
  }
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .content .facet {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}
body main .content .facet .facet-header {
  display: flex;
  cursor: pointer;
}

footer {
  margin-top: auto;
  margin-bottom: 10px;
}
@media (min-width: 800px) {
  footer {
    margin-bottom: 0;
    position: absolute;
    top: 25px;
    right: 25px;
  }
}
footer .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 5px;
}
footer .socials a {
  text-decoration: none;
  opacity: 0.5;
  transition: 0.2s opacity;
}
footer .socials a svg {
  height: 45px;
}
footer .socials a:hover {
  opacity: 1;
}

.facet-header,
.facet-header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.facet {
  display: flex;
  flex-direction: column;
}

.facet-body {
  overflow: hidden;
  width: 90%;
  max-height: 0;
  transition: max-height 0.3s;
}
@media (min-width: 800px) {
  .facet-body {
    max-width: 800px;
  }
}
.facet-body.body-open {
  max-height: 500px;
  transition: max-height 0.5s;
}

noscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
@media (min-width: 800px) {
  noscript .facet-body-noscript {
    max-width: 1000px;
  }
}

.flair {
  width: 100%;
  height: 600px;
  position: absolute;
  bottom: -100px;
  background-size: cover;
  background-position: top center;
  z-index: -1;
  transform: translateY(600px);
}
.flair.flair-designer {
  background-image: url("../img/des.png");
}
.flair.flair-developer {
  background-image: url("../img/dev.png");
}
.flair.flair-learner {
  background-image: url("../img/learn.png");
}
.flair.flair-educator {
  background-image: url("../img/ed.png");
}
.flair.flair-researcher {
  background-image: url("../img/research.png");
}
.flair.showing {
  transform: translateY(0);
}

#educator span {
  font-weight: 400;
  max-width: 100%;
  overflow: hidden;
  transition: max-width 0.3s;
  transition-delay: 0.9s;
}

#designer:after,
#developer:after,
#learner:after,
#educator:after,
#researcher:after {
  content: "er";
  font-weight: 100;
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.4s;
}

#designer:after {
  color: #7ac943;
}

#developer:after {
  color: #3fa9f5;
}

#learner:after {
  color: #ff7bac;
}

#researcher:after {
  color: #6b7478;
}

#educator:after {
  content: "or";
  transition-delay: 0.4s;
  color: #ff931e;
}

#educator:hover span {
  max-width: 0;
  transition: max-width 0.3s;
}

#designer:hover:after,
#developer:hover:after,
#learner:hover:after,
#educator:hover:after,
#researcher:hover:after {
  max-width: 100%;
  border-right: 2px black solid;
}

.facet-header #designer.facet-open:after {
  max-width: 100%;
  border-right: 2px #7ac943 solid;
  animation: blink-caret-designer 0.75s infinite;
}
.facet-header #developer.facet-open:after {
  max-width: 100%;
  border-right: 2px #3fa9f5 solid;
  animation: blink-caret-developer 0.75s infinite;
}
.facet-header #learner.facet-open:after {
  max-width: 100%;
  border-right: 2px #ff7bac solid;
  animation: blink-caret-learner 0.75s infinite;
}
.facet-header #educator.facet-open:after {
  max-width: 100%;
  border-right: 2px #ff931e solid;
  animation: blink-caret-educator 0.75s infinite;
}
.facet-header #educator.facet-open span {
  max-width: 0;
}
.facet-header #researcher.facet-open:after {
  max-width: 100%;
  border-right: 2px #6b7478 solid;
  animation: blink-caret-researcher 0.75s infinite;
}

#designer:hover:after {
  animation: blink-caret-designer 0.75s infinite;
}

#developer:hover:after {
  animation: blink-caret-developer 0.75s infinite;
}

#learner:hover:after {
  animation: blink-caret-learner 0.75s infinite;
}

#educator:hover:after {
  animation: blink-caret-educator 0.75s infinite;
}

#researcher:hover:after {
  animation: blink-caret-researcher 0.75s infinite;
}

@keyframes blink-caret-designer {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #7ac943;
  }
}
@keyframes blink-caret-developer {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #3fa9f5;
  }
}
@keyframes blink-caret-learner {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ff7bac;
  }
}
@keyframes blink-caret-educator {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #ff931e;
  }
}
@keyframes blink-caret-researcher {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #6b7478;
  }
}
.facet-designer a {
  color: #7ac943;
}

.facet-developer a {
  color: #3fa9f5;
}

.facet-learner a {
  color: #ff7bac;
}

.facet-educator a {
  color: #ff931e;
}

.facet-researcher a {
  color: #6b7478;
}

/*# sourceMappingURL=styles.css.map */
