@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

@mixin tablet() {
  @media(min-width: 800px) {
    @content
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #076640;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  line-height:1;
  text-transform: uppercase;
  span{
    font-weight:300;
  }
}
h2, span{
  font-size:2rem;
  text-transform: uppercase;
  font-weight:400;
  span{
    font-weight:100;
  }
}


p {
  font-size: 1rem;
}

body {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../img/background.png");
  text-align:center;

  header {
    margin-bottom:auto;
    margin-top:25px;
    @include tablet{
      margin-top:0;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .content{
      display:flex;
      flex-direction:column;
      align-items:center;
      .facet{
        display:flex;
        align-items:center;
        flex-direction:column;
        margin:20px 0;
        .facet-header{
          display:flex;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  margin-top:auto;
  margin-bottom:10px;
  @include tablet{
    margin-bottom:0;
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .socials {
    display:flex;
    align-items:center;
    justify-content: center;
    grid-gap:5px;
    a {
      text-decoration: none;
      opacity: 0.5;
      transition: 0.2s opacity;
      svg {
        height: 45px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.facet-header,
.facet-header h2{
  display:flex;
  align-items:center;
  justify-content:center;
}

.facet-header.facet-open span.decorator,
.facet-header:hover span.decorator{
  max-width:100%;
  animation: blink-caret .75s infinite;
}

.facet-body.body-open{
  height:100%;
  max-height:500px;
}

.facet-body{
  height:0;
  overflow: hidden;
  transition: height 0.5s, max-height 0.5s;
  width:80%;
  max-width:700px;
  max-height:0;
}

span.decorator{
  font-weight:100;
  overflow: hidden;
  padding-right:2px;
  border-right: 2px solid transparent;
  white-space: nowrap;
  max-width:0;
  transition: width 0.6s, max-width 0.6s;
}

#educator:after{
  content: "E";
}
.facet-header.facet-open #educator:after,
.facet-header:hover #educator:after{
  content: "";
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green; }
}
